# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Database
*.db
*.sqlite3
*.sqlite

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
dist/
.vite/

# Docker
.docker/

# Documentation
docs/
