name: Deploy JobTracker

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Backend .env
        run: |
          echo "${{ secrets.BACKEND_ENV }}" > ./backend/.env

      - name: Create Frontend .env
        run: |
          echo "${{ secrets.FRONTEND_ENV }}" > ./frontend/.env

      - name: Build and Deploy with Docker Compose
        run: |
          docker-compose down
          docker-compose up -d --build
          docker system prune -f
